path {
  stroke: #fff;
}

path:first-child {
  fill: yellow !important;
}

circle {
  fill: #000;
  pointer-events: none;
}

#circleSizeSlider, #numPointsSlider {
	width: 150px;
}

#voronoiToolbar > span {
	padding-left: 10px;
	padding-right: 10px;
}

#voronoiToolbar {
	display: flex;
}